:root{
    --tamanho: 25%;
    --margem: 20px;
    --corTLog:rgba(0, 0, 0, 0.6);
    --tamanhobotao: 130px;
    --tamanhoP:90%;
}
*{
    margin: 0 0;
    font-family: monospace;
}
body{
    display: block;
    background-image: url(/imgs/fundobonito.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
}
.menusub{
    position: relative;
    background-color: var(--corTLog);
    width: 70.3%;
    height: 40px;
    align-items: center;
    text-align: center;
}
.nave{
    display: flex;
    justify-content:space-around;
}
.ele{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.imgLogo{
    position: relative;
    left: 65%;
    margin: 20px 20px;
    width:var(--tamanho);
    height:calc(var(--tamanho)- 1%);
    border-radius: 100%;
}
.menusub{
    float: right;
}
.TLog{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 559px;
    height:100% ;
    background-color: var(--corTLog);
}
.txtlog{
    position: relative;
}
.txtEntrar{
    color: aliceblue;
    font-size: 4em;
    margin: var(--margem) var(--margem);
    font-weight: bold;
}
.entrar{
    position: relative;
    top: 40%;
    align-items: center;
    text-align: center;
}
.btnEntrar{
    font-size: 35px;
    background-color: aquamarine;
    border: 5px solid  black;
    border-radius: 23px;
    color: aliceblue;
    width: calc(var(--tamanhobotao)+5px);
    height: calc(var(--tamanhobotao)/2);
}
.txtEmail .txtSenha { 
    position: relative;
    left: 2%;
    width: var(--tamanhoP);
}
.txtE{
    position: relative;
    top: 30%;
    font-size: 2em;
    color: white;
}
.txtS{
    position: relative;
    font-size: 2em;
    color: white;
}
.emailIn{
    width: 497px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
.inputEmail{
    left: 10%;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    width: 497px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
}
.senhaIn{
    width: 497px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
.inputSenha{
    left: 10%;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    width: 497px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
}
.eyeopenBTN{
    background-color: transparent;
    border: 0px solid transparent;
    position: absolute;
    top: 85%;
    left: 83%;
    width: 30px;
    height: 25px;
}
.eyeopen{
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 84%;
    width: 30px;
    height: 20px;
}