:root{
    --tamanho: 25%;
    --margem: 20px;
    --corTLog:rgba(0, 0, 0, 0.6);
    --tamanhobotao: 130px;
    --tamanhoP:90%;
    --tamanhoLogotxt: 300px;
}
*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: monospace;
}
body{
    display: block;
    background-image: url(/imgs/fundobonito.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
}
.logoemtexto{
    display: block;
    top: -25px;
    left: 0px;
    padding: 0px 0px;
    margin: 5px 5px;
    position: absolute;
    width: var(--tamanhoLogotxt);
    height: calc(var(--tamanhoLogotxt)/2);
}
.menusub{
    position: relative;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}
.nave{
    top: 23px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid black;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 29.5%;
    width: 700px;
    display: flex;
    justify-content:space-between;
}
.ele{
    margin: 5px;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 22px;
}
.imgLogo{
    position: relative;
    left: 65%;
    margin: 20px 20px;
    width:var(--tamanho);
    height:calc(var(--tamanho)- 1%);
    border-radius: 100%;
}
.TLog{
    display: block;
    margin: 0px 0px;
    padding: 0px 0px;
    border: 5px solid black;
    border-radius: 50px;
    position: absolute;
    top: 15%;
    left: 33%;
    width: 559px;
    height:70% ;
    background-color: var(--corTLog);
}
.txtlog{
    position: relative;
}
.txtEntrar{
    position: relative;
    top: -50px;
    color: aliceblue;
    font-size: 4.5em;
    margin: var(--margem) var(--margem);
    font-weight: bold;
}
.entrar{
    position: relative;
    top: 50px;
    align-items: center;
    text-align: center;
}
.btnEntrar{
    position: relative;
    font-size: 35px;
    background-color: aquamarine;
    border: 5px solid  black;
    border-radius: 23px;
    color: aliceblue;
    width: calc(var(--tamanhobotao)+5px);
    height: calc(var(--tamanhobotao)/2);
}
.txtEmail .txtSenha { 
    position: relative;
    left: 2%;
    width: var(--tamanhoP);
}
.txtE{
    position: relative;
    top: 30%;
    font-size: 2em;
    color: white;
}
.txtS{
    position: relative;
    font-size: 2em;
    color: white;
}
.emailIn{
    width: 497px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
.inputEmail{
    left: 10%;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    width: 497px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
}
.senhaIn{
    width: 497px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
.inputSenha{
    left: 10%;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    width: 497px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
}
.eyeopenBTN{
    background-color: transparent;
    border: 0px solid transparent;
    position: absolute;
    top: 85%;
    left: 83%;
    width: 30px;
    height: 25px;
}
.eyeopen{
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 84%;
    width: 30px;
    height: 20px;
}