:root{
    --corTLog:rgba(0, 0, 0, 0.6); /*Cor de fundo padrão de projeto*/
}
*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: monospace;
}
body{
    display: block;
    background-image: url(/imgs/fundobonito.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
}
.Nav{
    display: flex;
    width: auto;
    height: auto;
    background-color: #ff000000;
    align-items: center;
}
.nav{
    top: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    display: block;
    position: absolute;
    width: 25% auto;
    height: 4%;
    border: 5px solid rgb(88, 148, 205);
    border-radius: 50px;
    background-color: var(--corTLog);
}
.nav .ulN {
    position: relative;
    top: 5px;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav .ulN .liN {
    margin: 0px 20px 0px 20px;
}

.nav .ulN .liN .eleN {
    text-decoration: none;
    color: #000000;
    position: relative;
    display: inline-block;
}

.nav .ulN .liN .eleN::after {
    content: ""; /*estilo da animção*/
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px; /*Muda altura do sublinhado*/
    left: 0;
    background-color:rgb(88, 148, 205);
    transform-origin: bottom right;
    transition: transform 0.9s ease-out;
}

.nav .ulN .liN .eleN:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}